{% extends 'base.html' %}

{% block content %}
<h1>Character Collection</h1>
<div class="character-container">
  {% for character in characters %}
    {% if character.gender == 'male' %}
      <div class="card" style="background-color:#8CC0DE">
    {% else %}
      <div class="card" style="background-color:#F5C3C2">
    {% endif %}
    <a href="{% url 'detail' character.id %}">
      <div class="card-content">
        {% if character.gender == 'male' %}
          <span class="card-gender">♂</span>
        {% else %}
          <span class="card-gender">♀</span>
        {% endif %}
        <span class="card-title">{{ character.name }}</span>
        <img class="character" src="{{ character.img }}">
        <p><span class="bold">Birthday:</span> {{ character.birthday }}</p>
        <p><span class="bold">Breed:</span> {{ character.breed }}</p>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}